* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333333;
    background-color: #F5F5F7;
    width: 100%;
}

p {
    font-size: inherit;
    margin: 0;
}

li {
    list-style: none;
    font-size: 12px;
    letter-spacing: -0.224px;

}

.nav-bar{
    display: flex;
    gap: 2.2rem;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.blue-span {
    color: #06C;
}

.ribbon {
    font-size: 14px;
    display: flex;
    justify-content: center;
    background-color: #FFF;
    padding: 1rem 0;
}

main > section:nth-child(1) {
    margin: 5rem 20rem 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main > section:nth-child(1) > article:nth-child(1){
    font-size: 2.7rem;
    font-weight: 700;
    color: #6E6E73;
    display: flex;
    width: 40rem;
}
main > section:nth-child(1) > article:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

main > section:nth-child(1) > article:nth-child(1) span{
    color: #1D1D1F;
}

main > section:nth-child(1) > article:nth-child(2) > div:nth-child(1) > div:nth-child(2) > p:nth-child(1){
    font-size: 14px;
    font-weight: 400;
}

main > section:nth-child(1) > article:nth-child(2) > div:nth-child(1) > div:nth-child(2) > p:nth-child(2){
    font-size: 14px;
    font-weight: 400;
    color: #06C;
}
main > section:nth-child(1) > article:nth-child(2) > div:nth-child(1) > div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .3rem;
}

main > section:nth-child(1) > article:nth-child(2) > div:nth-child(1) {
    display: flex;
    justify-content: center;
    gap: .6rem;
}


main > section:nth-child(1) > article:nth-child(2) > div:nth-child(2) > div:nth-child(2) > p:nth-child(1){
    font-size: 14px;
    font-weight: 400;
}

main > section:nth-child(1) > article:nth-child(2) > div:nth-child(2) > div:nth-child(2) > p:nth-child(2){
    font-size: 14px;
    font-weight: 400;
    color: #06C;
}
main > section:nth-child(1) > article:nth-child(2) > div:nth-child(2) > div:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .3rem;
}

main > section:nth-child(1) > article:nth-child(2) > div:nth-child(2) {
    display: flex;
    justify-content: center;
    gap: .6rem;
}

main > section:nth-child(2) {
    margin: 3rem 0rem 5em 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3.4rem;
    overflow-x: auto;
}

main > section:nth-child(2)::-webkit-scrollbar{
    display: none;
}

main > section:nth-child(2) div {
    width: 6rem;
    height: 4rem;
}

main > section:nth-child(2) img {
    width: 100%;
    height: 100%;
}

main > section:nth-child(2) article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: 700;
    font-size: 0.875rem;
}

main > section:nth-child(3) {
    margin: 8rem 0rem 5em 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    overflow-x: scroll;
    padding: 1rem;
}

main > section:nth-child(3)::-webkit-scrollbar{
    display: none;
}

main > section:nth-child(3) div:nth-child(2) {
    width: 24.99875rem;
    height: 31.24875rem;
    border-radius: 1.125rem;
}

main > section:nth-child(3) img {
    max-width: 100%;
    height: auto;
    border-radius: 1.125rem;
}

main > section:nth-child(3) article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: 700;
    font-size: 0.875rem;
    position: relative;
    display: inline-block;
    border-radius: 1.125rem;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
}

main > section:nth-child(3) div:nth-child(1) {
    position: absolute;
    top: 6%; 
    left: 8%;
}

main > section:nth-child(3) h1 {
    font-size: 1.5rem;
    margin: .5rem 0;
    font-weight: 700;
}

main > section:nth-child(3) article:nth-child(1),
main > section:nth-child(3) article:nth-child(3),
main > section:nth-child(3) article:nth-child(4),
main > section:nth-child(3) article:nth-child(6),
main > section:nth-child(3) article:nth-child(8){
    color: #ffffff;
    font-weight: 100;
    font-size: .75rem;
}
main > section:nth-child(3) article:nth-child(2) ,
main > section:nth-child(3) article:nth-child(5) ,
main > section:nth-child(3) article:nth-child() {
    color: #000000;
    font-weight: 100;
    font-size: .75rem;
}

main > p {
    margin: 5rem 20rem 5em;
}

main > section:nth-child(4) > article:nth-child(2) article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-weight: 700;
    font-size: 0.875rem;
    position: relative;
    display: inline-block;
}

main > section:nth-child(4) > article:nth-child(2) 
> article:nth-child(1)   div:nth-child(2) {
    width: 29.99875rem;
    height: 31.24875rem;
    border-radius: 1.125rem;
}

main > section:nth-child(4) > article:nth-child(2) 
> article:nth-child(2)  div:nth-child(2) {
    width: 29.99875rem;
    height: 31.24875rem;
    border-radius: 1.125rem;
}


main > section:nth-child(4) img {
    max-width: 100%;
    height: auto;
    border-radius: 1.125rem;
}

main > section:nth-child(4) {
    margin: 8rem 0rem 5em 20rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    gap: 1rem;
    height: 100;
}

main > section:nth-child(4) > article:nth-child(2)::-webkit-scrollbar{
    display: none;
}

main > section:nth-child(4) > article:nth-child(2) {
    display: flex;
    width: 100%;
    overflow-x: scroll;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

}

main > section:nth-child(4) article:nth-child(2){
    display: flex;
    align-items: start;
    gap: 1rem;
    font-weight: 700;
    font-size: 0.875rem;
}

main > section:nth-child(4) article:nth-child(2) 
article:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    font-weight: 700;
    font-size: 0.875rem;
    position: relative;
    display: inline-block;
}

main > section:nth-child(4) div:nth-child(1) {
    position: absolute;
    top: 5%; 
    left: 5%;
}

main > section:nth-child(4) p{
    color: #1D1D1F;
    font-family: Arial;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem; /* 128% */
    letter-spacing: 0.01225rem;
}

main > section:nth-child(4) span:nth-child(1){
    color: #6E6E73;
    font-family: Arial;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem; /* 128% */
    letter-spacing: 0.01225rem;
}

main > section:nth-child(4) > article:nth-child(2) >
article:nth-child(1) > div:nth-child(1) p{
    color: #6E6E73;
    font-family: Arial;
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem; /* 145.455% */
    letter-spacing: -0.0075rem;
}

main > section:nth-child(4) > article:nth-child(2) >
article:nth-child(1) > div:nth-child(1) h1{
    color: #1D1D1F;
    font-family: Arial;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 0.01225rem;
    margin-top: .7rem;
}

main > section:nth-child(4) > article:nth-child(2) > 
article:nth-child(2) {
    color: #6E6E73;
    font-family: Arial;
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem; /* 145.455% */
    letter-spacing: -0.0075rem;
}

main > section:nth-child(4) > article:nth-child(2) >
article:nth-child(2) > div:nth-child(1) p:nth-child(1){
    color: #F56300;
    font-family: Arial;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem; /* 133.333% */
    letter-spacing: -0.0075rem;
}

main > section:nth-child(4) > article:nth-child(2) >
article:nth-child(2) > div:nth-child(1) p:nth-child(3){
    color: #FFF;
    font-family: Arial;
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3125rem; /* 123.529% */
    letter-spacing: -0.02338rem;
    margin: 0;
}

main > section:nth-child(4) > article:nth-child(2) 
article:nth-child(2) > div:nth-child(1) h1{
    color: #FFF;
    font-family: Arial;
    font-size: 1.5625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem; /* 128% */
    letter-spacing: 0.01225rem;
    margin: .7rem 0;
}

main > section:nth-child(4) > article:nth-child(2) 
article:nth-child(3){
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
    justify-content: space-between;
    align-items: flex-start;
    width: 31.25rem;
    height: 31.24875rem;
}

main > section:nth-child(4) > article:nth-child(2) >
article:nth-child(3) article{
    position: relative;
    display: inline-block;
    width: 29.99875rem;
    height: 15rem;
    border-radius: 1.125rem;
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
    gap: 1rem;
}

main > section:nth-child(4)  > article:nth-child(2) > 
article:nth-child(3) p{
    position: absolute;
    top: 4rem;
    left: 2rem;
    font-size: 0.875rem;
    color: #1D1D1F;
    font-family: Arial;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.75rem; /* 127.273% */
    letter-spacing: 0.0135rem;
} 

main > section:nth-child(4) > article:nth-child(2) 
> article:nth-child(3)  div {
    width: 29.99875rem;
    height: 15rem;
    border-radius: 1.125rem;
}

main > section:nth-child(4) > article:nth-child(2) 
> article:nth-child(3)  img {
    width: 29.99875rem;
    height: 15rem;
    border-radius: 1.125rem;
}

main > section:nth-child(4) > article:nth-child(2)
> article:nth-child(1),
main > section:nth-child(4) > article:nth-child(2) 
> article:nth-child(2){
    box-shadow: 2px 4px 12px 0px rgba(0, 0, 0, 0.08);
    border-radius: 1.125rem;
    width: 29.99875rem;
}